.mat-card{
  margin: 20px;
}
.count-card{

  width: 24%;
  margin: 5px;
  padding: 20px;
}


.font-icone-style{
  display: flex;
   align-items: center;
    gap: 10px;
}

.bg-warning{
background-color: lightcoral;
}

.bg-info{
  background-color: lightblue;
}

.bg-success{
  background-color: lightgreen;
}

.bg-primary{
  background-color: lightgoldenrodyellow;
}


.add-button{
  margin-left: 100px;
  margin-top: 80px;
  background-color: lightseagreen;
}

