<mat-nav-list>
  <div *ngIf="userRole === 'admin'">
    <a mat-list-item routerLink="/dashboard/user">Manage Users</a>
    <a mat-list-item routerLink="/dashboard/technician">Manage Technician</a>
    <a mat-list-item routerLink="/dashboard/equipment">Manage Equipment</a>
    <a mat-list-item routerLink="/dashboard/fault">Manage Fault</a>
    <a mat-list-item routerLink="/dashboard/logout">Log out</a>
  </div>
  <div *ngIf="userRole === 'user'">
    <a mat-list-item routerLink="/dashboard/usertickets">My Ticket</a>
    <a mat-list-item routerLink="/dashboard/logout">Log out</a>
  </div>
  <div *ngIf="userRole === 'technician'">
    <a mat-list-item routerLink="/dashboard/tickets">All Tasks</a>
    <a mat-list-item routerLink="/dashboard/logout">Log out</a>
  </div>
</mat-nav-list>
